.App {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 0 15px;
}

.App .weather {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #c1baba6b;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 4px 13px gainsboro;
}

.App .weather__title {
  margin: 20px 0;
}

.App .weather__subtitle {
  margin-bottom: 30px;
}
