.Form .weather-form__text {
  width: 40%;
  height: 20px;
  border: 1px solid #c1baba;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
}

.Form .btn {
  padding: 12px 20px;
  color: #5b5b5b;
  font-weight: 700;
  border-radius: 4px;
  background-color: #a1f89d;
  border: none;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: 0.2s all;
}
.Form .btn:hover {
  background-color: #000;
  color: #fff;
}
